In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
solar_data_path = 'data/solar/'
#Data file name = Ground_PowerPlant_Narnaul_Inverter_ABB-PVS800.csv'
Weather_data_path = 'data/Weather/'
#Data file name = Data.csv'

In [7]:
Area_codes = {1810:'Churu', 1934:'Gurgaon'}

In [63]:
#Importing the weather parameters from Parameters.csv
Weather_params = pd.read_csv(Weather_data_path+'Parameters.csv',names={'code', 'Quantity','Unit'})

In [96]:
if 'code' in Weather_params.columns:
    #Combining the units and quantities into a single column
    Weather_params['Quantity'] = Weather_params['Quantity'] + " ("+ Weather_params['code']+")"

    #Dropping the code column
    Weather_params.drop('code', axis=1,inplace=True)

#Constructing a dictionary out of these two columns
Param_dict = dict(zip(Weather_params['Unit'].values, Weather_params['Quantity'].values))
keys_of_param_dict = [n for n in Param_dict.keys()]

In [97]:
#Now loading the main weather dataset.
Weather_data_temp = pd.read_csv(Weather_data_path+'Data.csv', names={'Timestamp', 'Parameter', 'Value', 'Area'},header=None)
Weather_data_temp.columns = ['Timestamp', 'Parameter', 'Value', 'Area']

In [75]:
#Empty Dataframe
Weather_data = pd.DataFrame()

Weather_data['Timestamp'] = Weather_data_temp['Timestamp'].unique()
for param in keys_of_param_dict:
    reduced_df = Weather_data_temp[Weather_data_temp['Parameter']==param]
    reduced_df
    Weather_data.merge(reduced_df, )

KeyError: 426

In [99]:
Weather_data_temp[Weather_data_temp['Parameter']==1].head()

              Timestamp  Parameter    Value  Area
0   2017-11-01 00:00:00          1  11.9501  1810
18  2017-11-01 00:01:00          1  11.9502  1810
36  2017-11-01 00:02:00          1  11.9500  1810
54  2017-11-01 00:03:00          1  11.9498  1810
72  2017-11-01 00:04:00          1  11.9541  1810

In [100]:
Weather_data_temp[Weather_data_temp['Timestamp']=='2017-11-01 00:03:00']

                   Timestamp  Parameter        Value  Area
54       2017-11-01 00:03:00          1    11.949800  1810
55       2017-11-01 00:03:00          2    35.979100  1810
56       2017-11-01 00:03:00          6    20.270700  1810
57       2017-11-01 00:03:00          7     0.397608  1810
58       2017-11-01 00:03:00          8   176.708000  1810
59       2017-11-01 00:03:00         27     4.634410  1810
60       2017-11-01 00:03:00         67     0.000000  1810
61       2017-11-01 00:03:00        126     0.000000  1810
62       2017-11-01 00:03:00        260  1012.800000  1810
63       2017-11-01 00:03:00        261   973.896000  1810
64       2017-11-01 00:03:00        268     0.000000  1810
65       2017-11-01 00:03:00        427   101.532000  1810
66       2017-11-01 00:03:00        748     0.000000  1810
67       2017-11-01 00:03:00        749     0.000000  1810
68       2017-11-01 00:03:00        750     0.000000  1810
69       2017-11-01 00:03:00        751     0.000000  1810
70       2017-11-01 00:03:00        752     0.000000  1810
71       2017-11-01 00:03:00        753     0.000000  1810
5673276  2017-11-01 00:03:00          1    12.340900  1934
5673277  2017-11-01 00:03:00          2    76.655400  1934
5673278  2017-11-01 00:03:00          6    21.099300  1934
5673279  2017-11-01 00:03:00          7     1.356380  1934
5673280  2017-11-01 00:03:00          8   120.552000  1934
5673281  2017-11-01 00:03:00         27    16.814300  1934
5673282  2017-11-01 00:03:00         67     0.000000  1934
5673283  2017-11-01 00:03:00        126     0.000000  1934
5673284  2017-11-01 00:03:00        260  1012.070000  1934
5673285  2017-11-01 00:03:00        261   981.355000  1934
5673286  2017-11-01 00:03:00        268     0.000000  1934
5673287  2017-11-01 00:03:00        427   101.515000  1934
5673288  2017-11-01 00:03:00        750     0.000000  1934
5673289  2017-11-01 00:03:00        751     0.000000  1934
5673290  2017-11-01 00:03:00        752     0.000000  1934
5673291  2017-11-01 00:03:00        753     0.000000  1934